* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
.live-preview {
	width: 100%;
	background-color: black;
}
.start-recording {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.content {
	padding-top: 30px;
	padding-bottom: 30px;
}
.copy-room-code .glyphicon {
	/* fix issue showing up too low */
	line-height: 1;
}
.input-large,
.form-control.input-large {
	font-size: 32px;
	height: 50px;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid #eee;
}
.input-large:focus,
.form-control.input-large:focus {
	border-bottom-color: silver;
}
.error-message-container {
	opacity: 0;
	display: none;
}
.fade-error-message {
	display: block;
	opacity: 1;
}
.fade-error-message-add {
	display: block;
	animation: fadeIn 300ms;
}
.fade-error-message-remove {
	display: block;
	animation: fadeOut 1s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
