* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
.live-preview {
	width: 100%;
	background-color: black;
}
.start-recording {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.content {
	padding-top: 30px;
	padding-bottom: 30px;
}
.copy-room-code .glyphicon {
	/* fix issue showing up too low */
	line-height: inherit;
}
.input-large {
	font-size: 32px;
	height: 50px;
	box-shadow: none;
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid #eee;
}
.input-large:focus {
	border-bottom-color: silver;
}
.error-container {
	display: none;
}
